/* Custom properties -DX */
html {
  --text-color: #373232;
  --green1-color: #b9c6c4;
  --green2-color: #5f7974;
  --beige-color: #c5bdba;
  --brown-color: #776b64;
  --pink-color: #dbc9c9;
}

img {
  max-width: 100%;
}

/* typografi */
@font-face {
  font-family: "quicksand";
  src: url("../font/quicksand-variablefont_wght-webfont.woff2") format("woff2");
  font-family: "montserrat";
  src: url("../font/montserrat-variablefont_wght-webfont.woff2") format("woff2");
}

h1 {
  font-family: "quicksand";
  font-weight: 400;
  font-style: normal;
  font-size: 5rem;
  line-height: 1.1;
  margin: 40px;
  color: #373232;
}

h2 {
  font-family: "quicksand";
  font-weight: 400;
  font-style: normal;
  font-size: 3rem;
  line-height: 1.1;
  margin: 20px;
  color: var(--text-color);
}

h3 {
  font-family: "quicksand";
  font-weight: 400;
  font-style: normal;
  font-size: 1.5rem;
  line-height: 1.1;
  margin: 20px;
  color: var(--text-color);
}

p {
  font-family: "montserrat";
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  line-height: 1.1;
  margin: 20px;
  color: var(--text-color);
}

/* header (mobile first) */
header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 1rem 2rem 1rem 1rem;
  background: var(--beige-color);
  /* border: 1px solid black; */
}

nav a {
  align-items: start;
  justify-content: center;
  padding: 30px;
  width: 100px;
  border-radius: 10px;
  text-align: center;
  color: var(--text-color);
  font-family: "montserrat";
  font-size: 1.2rem;
  text-decoration: none;
}

.logo {
  height: 50px;
  width: 50px;
  grid-column: 2;
  grid-row: 1;
  justify-self: end;
}

.logo img {
  height: auto;
  width: 100%;
}

nav {
  grid-column: 1;
  grid-row: 2;
  justify-self: end;
  display: none;
}

header ul {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-bottom: 0.4rem;
  gap: 50px;
}

.toggle-btn {
  display: block; /* Vis knappen, når viewporten maksimalt er 800px */
  cursor: pointer;
  all: unset;
}

.main-menu {
  display: contents; /* Fjern ".main-menu"-boksen fra ligningen, når viewporten maksimalt er 600px, men behold børnene, så disse deltager i flex-kontekten */
}

.main-menu ul {
  display: none; /* Fjern menu-listen som standard */
}

.main-menu.shown ul {
  /* Vis menu-listen, når klassen ".shown" er til stede */
  /* border-top: 1px solid #000; */
  padding-top: 1rem;
  display: flex;
  flex: 1 1 100%;
  flex-flow: column;
}
header ul li a:hover {
  color: var(--green2-color);
}

@media (min-width: 1000px) {
  header {
    grid-template-columns: revert;
  }

  .logo {
    height: 100px;
    width: 100px;
    grid-column: 2;
    grid-row: 1 / span 3;
    justify-self: end;
  }

  nav {
    grid-column: 1;
    grid-row: 2;
    justify-self: center;
    display: block;
  }

  .toggle-btn {
    display: none; /* Skjul knappen som standard */
  }

  .main-menu ul {
    display: flex;
    grid-row: 2;
    justify-content: flex-start;
  }
}

/* footer */
footer {
  text-align: center;
  padding-block: 1rem;
  background: var(--brown-color);
  position: sticky;
  top: 100vh;
}

footer p {
  font-family: "montserrat";
  font-weight: 400;
  font-style: normal;
  font-size: 0.8rem;
  line-height: 1.1;
  margin: 20px;
  color: var(--beige-color);
}
