* {
  all: unset;
  display: revert;
  cursor: revert;
  box-sizing: border-box;
}

main {
  max-width: 1200px;
  margin: 0 auto;
}

/* mobile first */
#container {
  background-color: white;
  background-size: cover;
  width: 100%;
  height: auto;
  /* padding: 5%; */
}

.cv_img {
  background-image: url(../images/IMG_5810.webp);
  background-size: cover;
  width: 70%;
  height: auto;
  aspect-ratio: 50/50;
  margin: 0 auto;
  border-radius: 50%;
}

h1 {
  text-align: center;
}

h2 {
  text-align: start;
  border-bottom: 1px solid #000;
}

.tekst p {
  text-align: center;
  font-style: italic;
  line-height: 2;
}

p {
  line-height: 2;
}

@media (min-width: 800px) {
  #container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }

  .splash_img {
    grid-column: 2;
  }

  .tekst {
    grid-column: 1;
    grid-row: 1;
    text-align: start;
  }
  .grid_1-1-1 {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 10px;
  }
  .flex-col {
    display: flex;
    flex-direction: column;
  }

  .flex-col :last-child {
    margin-top: auto;
  }
}
